.file-box {
  outline: 1px solid gray;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file-box > .file-name {
  text-align: center;
}

.file-box > input {
  display: none;
}

.file-box .action-buttons {
  gap: 2em;
}

.print-btn,
.select-button,
.clear-button {
  background-color: rgb(100, 149, 237);
  border: 0;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.clear-button {
  background-color: rgb(100, 100, 100);
  color: snow;
}

.print-btn:hover,
.select-button:hover,
.clear-button:hover {
  background-color: rgba(100, 149, 237, 0.8);
  cursor: pointer;
}

.print-btn:active,
.select-button:active
.clear-button:active {
  background-color: rgb(132, 167, 231);
}

.file-box .action-buttons {
  display: flex;
  justify-content: center;
  
}

.file-box .select-button,
.file-box .clear-button {
  width: 15vw;
  height: 5vh;
  margin-top: 2em;
  align-self: center;
}
